node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

# Local environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
